@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Pacifico&display=swap");

body{
  height: 100%;
  width: 100%;
}
section .mainPage {
  text-align: left;
  align-items: left;
}

.title {
  padding: 1em;
}

.main-title {
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
  font-weight: 800;
  color: #2c292b;
  text-align: left;
}
.sub-title {
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
}
.card-title {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 800;
  color: #2c292b;
  text-align: left;
  margin-left: 1.6em;
  margin-top: 1em;
  color: rgb(58, 58, 58);
}

.card {
  background-color: rgb(246, 246, 252);
  height: 30vh;
  padding: 0.5em;
  margin: 0.5em;
}
.container-row {
  display: flex;
  height: 100%;
}
.row-one {
  width: 55%;
  height: 100%;
}
.row-two {
  width: 45%;
  height: 100%;
}
.image {
  height: 100%;
  width: 100%;
}
.wrapper {
  display: flex;
}
.description {
  text-align: left;
  margin-left: 2.6em;
  font-weight: 400;
}
.learnmore {
  text-decoration: none;
  border: 1px dashed black;
  width: 20%;
  padding: 0.7em;
  text-align: center;
}
.no-decoration {
  text-decoration: none;
}

.no-underline {
  text-decoration: none;
}
.list {
  text-align: left;
  margin-left: 2em;
  font-size: 1.3em;
}
.card-half {
  width: 50%;
  height: 100%;
}
.container-half {
  display: flex;
  height: 100%;
}
.card-half-left {
  flex: 50%;
  background-color: rgb(246, 246, 252);
  padding: 1em;
}

.card-half-right {
  flex: 50%;
  background-color: rgb(246, 246, 252);
  padding: 1em;
  margin-left: 1em;
}

.underlined {
  text-decoration: underline;
  color: rgb(58, 58, 58);
}
.card-two {
  height: 30vh;
  padding: 0.5em;
  margin: 0.5em;
}

.details {
  text-align: left;
}
.left {
  text-align: left;
}
.half {
  width: 50%;
}

.no-bullet {
  list-style-type: none;
}

.row {
  width: 49%;
}

.secondrow {
  width: 50%;
}

.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 24px;
  color: #555;
}
.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}

.content-main {
  text-align: center;
  align-items: center;
}

.charger {
  background-image: url("https://www.clipartmax.com/png/middle/470-4704466_ev-charging-on-campus-electric-vehicle-charging-station-icon.png");
}

.EVselectormenu {
  font-family: "Open Sans", sans-serif;
  font-size: 5rem;
  font-weight: 800;
  color: #2c292b;
  text-align: left;
}

.EVselectortitle {
  font-family: "Open Sans", sans-serif;
  font-size: 4rem;
  font-weight: 800;
  color: #2c292b;
  text-align: left;
}
.center-container {
  width: 80%;
}

.long {
  margin-top: 15%;
}
.short {
  margin-top: 5%;
}

.medium {
  margin-top: 10%;
}

.learnmore-right {
  text-decoration: underline;
  width: 30%;
  padding: 0.7em;
  text-align: center;
  margin-left: 70%;
  color: black;
  font-size: 1.3em;
}
.charger {
  width: 40%;
}

.detailsofmap {
  width: 400px;
  height: 300px;
  background-color: white;
  opacity: 0.9;
  border: 1px solid black;
  z-index: 1000;
  margin-top: -20em;
  margin-left: 1em;
  position: absolute;
}

.logosolarfarm {
  height: 60px;
  width: 60px;
}

.icons {
  float: left;
  display: inline;
  margin-right: 0.5em;
  margin-top: 1em;
  margin-left: 1em;
}

.Chartstyled {
  background-color: white;
  width: 450px;
  height: 220px;
  z-index: inherit;
  margin-right: 2em;
  margin-left: 3em;
  /* margin-top: 0.5em; */
}

.StackedChartstyled {
  background-color: white;
  width: 450px;
  height: 220px;
  z-index: inherit;
  margin-right: 2em;
}

.bufferset {
  /* margin-top: -3vh; */
  z-index: 50000;
  margin-left: 0.8em;
  position: absolute;
  margin-top: -55em;
  width: 60px;
  height: 60px;
  text-align: center;
}
.buffervalues {
  width: 62px;
  height: 30px;
  font-size: 10px;
}


.buffercreation {
  background-color: white;
  border: 1px solid gray;
  padding: 10px;
}

.leaflet-draw-edit-edit {
  display: none !important;
}

.leaflet-touch .leaflet-bar {
  background-color: #fff;
}
.leaflet-touch
  .leaflet-draw-toolbar
  .leaflet-draw-draw-polygon[title="Plant Miscanthus"] {
  background: url("../components/images/Miscanthus.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: scale(0.8);
  width: 60px;
  height: 80px;
}

.leaflet-touch
  .leaflet-draw-toolbar
  .leaflet-draw-draw-polygon[title="Plant Maize"] {
  background: url("../components/images/maze.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: scale(0.8);
  width: 60px;
  height: 80px;
}

.leaflet-touch
  .leaflet-draw-toolbar
  .leaflet-draw-draw-polygon[title="Plant Cattail"] {
  background: url("../components/images/cattail.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: scale(0.8);
  width: 60px;
  height: 80px;
}
.leaflet-touch
  .leaflet-draw-toolbar
  .leaflet-draw-draw-polygon[title="Plant Reed"] {
  background: url("../components/images/reed.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: scale(0.8);
  width: 60px;
  height: 80px;
}

.leaflet-touch
  .leaflet-draw-toolbar
  .leaflet-draw-draw-polygon[title="Planned Buffer"] {
  background: url("../components/images/boundary.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: scale(0.8);
  width: 60px;
  height: 80px;
}


.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-edit-remove {
  background: url("https://www.seekpng.com/png/detail/860-8608502_thin-recycle-bin-delete-garbage-full-comments-bin.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: scale(0.5);
  width: 60px;
  height: 70px;
}

.leaflet-touch
  .leaflet-draw-toolbar
  .leaflet-draw-edit-remove[title="No layers to delete"] {
  background: url("https://www.seekpng.com/png/detail/860-8608502_thin-recycle-bin-delete-garbage-full-comments-bin.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: scale(0.5);
  width: 60px;
  height: 70px;
}


.bufferzone {
  width: 40vw;
  margin-right: 1vw;
  padding: 5px;
  height: 50px;
  background-color: white;
}

.chartholder {
  width: 100%;
  background-color: white;
  opacity: 0.9;
  z-index: 50000;
  height: 220px;
  position: absolute;
  margin-top: -15em;
  display: flex;
}

.smallimage {
  height: 30px;
  width: 30px;
}

.flex {
  display: flex;
  height: 50px;
}

.flex80 {
  padding: 0;
  font-size: 15px;
  line-height: 1.3em;
}
.bold {
  font-weight: bold;
}

.middle {
  width: 10em;
  font-size: 14px;
}

.centered {
  text-align: center;
  font-size: 14px;
}

.margin {
  margin-top: 0.8em;
  margin-left: 5em;
  margin-right: 10em;
}

.bufferdel {
  z-index: 50000;
  background-color: white;
  border: 1px solid gray;
  /* margin-left: 0.8em; */
  position: relative;
  /* margin-top: -60em; */
  width: 63px;
  height: 60px;
  text-align: center;
}


.container-paragraph{
  width: 75%;
}

.intro-page-grid {
  margin-top:3em;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.intro-page-grid-item{
  padding: 5px;
  width: auto;

}

.image-intro-page{
  height: 250px;
  width: 420px;
}

.main-section-intro{
  height: 100vh;
  width: 100vw;
  margin-top: 9em;
  padding: 3em;
  overflow: hidden;
}

.button-click{
  margin-top: 3em;
  width: 25em;
  height: 3em;
  border-radius: 10px;
  border: black dotted 2px;
  background-color: white;
}

.hyperlinked{
  text-decoration: none;
  color: black;
}

.explanation{
  width: 80%;
}